# Django stuff:
###################
*.log
setting.py
miDjangoProyecto/settings.py
BKP_FILES/
BKP_FILES/*
#mysql_backups/BKP_SQL_script.py
#mysql_backups/*
#mysql_backups/*.sql




# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
