<html>

    <head>
        <title>Fresenius Test</title>
    </head>

    <body>
        <div>
            <h1><a href="/">Fresenius Test Site</a></h1>
        </div>

        <br><br>


        <table align="center" cellpadding="10" cellspacing="10" border="0">
        <tr>
        	<td><p><h2>&emsp;&ensp;{{ compo.numeroParte }}</h2></p></td>
            <td>&emsp;&ensp;</td>
        	<td><p><h2>{{ compo.titulo }}</h2></p></td>
        </tr>
        </table>


        <table  align="center" cellpadding="10" cellspacing="10" border="0">

        <tr>


        <td><div align="left"><a href=../media/{{ compo.imagen_pri }}><img border="0" alt="imagen" src=../media/{{ compo.imagen_pri }} width="300" ></a></div></td>
        	<!--<td><div align="left"><a href=""><img border="1" alt="imagen" src='../media/no_image.png' width="300" ></a></div></td>-->
            <td>&emsp;&ensp;</td>
        	<td valign="top" align="left"><div><p><Strong>Descripción:</Strong></p>
        	                        <p>{{ compo.observation  }} -  </p>


                </div>
            </td>
        </tr>

        </table>

    </body>

</html>